<h3>Bucolic</h3>

<p>
  <a class="btn btn-default" href="/waiting" role="button">Vote</a>
  1) <strong>An anesthetic liquid made from distilled and fermented juniper berries.</strong><br />
  <a class="btn btn-default" href="/waiting" role="button">Vote</a>
  2) <strong>A leather cape for hunting dogs.</strong><br />
  <a class="btn btn-default" href="/waiting" role="button">Vote</a>
  3) <strong>Of or relating to shepherds or herdsmen.</strong><br />
  <a class="btn btn-default" href="/waiting" role="button">Vote</a>
  4) <strong>Having to do with vegetables, specifically carrots.</strong><br />
</p>
